/* 0. Elements
-------------------------------------------------- */

*	{ margin:0; padding:0; }
html	{ padding:0; height:100%; }

body	{ 
	height:100%;
	background-color:#FFFFFF;
}

/* 1. Main Blocks
-------------------------------------------------- */

#wrapper 			{ min-height:100%; }
#main 				{ padding-bottom: 100px; }

header 				{ }
header .logo		{ padding:30px 0 30px; font-size: 36px; font-weight: bold; }
header .logo a		{ color:#0065CC; text-decoration: none; }
header .auth 		{ margin: 20px 0 0 0; text-align: right; }

footer				{ padding: 10px 0; height: 40px; margin-top: -61px; font-size: 12px; }
header .margintop20 {margin-top: 20px;}